.btn-wrapper {
  margin-top: 5px;
  margin-left: 45%;
}

.btn-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.actions {
  margin: 1rem 0 4rem;
  display: flex;
  justify-content: center;
}

.actions button {
  font-family: 'Montserrat', sans-serif;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem 2rem; /* Larger padding */
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  font-size: 1.7rem; /* Larger font size */
  font-weight: bold;

  border-radius: 7px; /* Rounded corners */
  transition: opacity 0.3s ease;
}

.actions .btn-convert {
  background-color: #444CF7;
}

.actions button:hover {
  opacity: 0.85;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}
