.preview {
  margin-top: 3rem;
  margin-bottom: 4rem;  
}

.preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-img {
  width: 200px;
  height: auto;
}

.preview-title {
  margin: 2rem 0;
  text-align: center;
}