:root {
  --max-width: 750px;
}

.algo-title {
  margin-bottom: 1rem;
  /* margin-left: 2rem; */
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.algo-description {
  /* max-width: var(--max-width); */
  margin-bottom: 5rem;
  margin-left: 33rem;
  margin-right: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.step-title {
  margin-bottom: 6rem;
  margin-left: 10rem;
  background-color: #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 5px;
  /* margin-left: 5px; */
}

.step-desc {
  font-size: 1.5rem;
  max-width: var(--max-width); 
}

.column-container {
  display: flex;
  column-count: 2;
  column-gap: 5px;
}

.column-container p {
  margin-bottom: 10px;
}

.left-column {
  margin-left: 12%;
  flex: 0 0 30%; /* 30% width, don't grow or shrink */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.specific-column {
  break-before: column; /* Force a column break before this element */
}